<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bilibili.dao.mapper.TPartnershipRequestsMapper">

    <resultMap id="BaseResultMap" type="com.bilibili.dao.domain.TPartnershipRequests">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="advertiserId" column="advertiser_id" jdbcType="BIGINT"/>
        <result property="contentCreatorId" column="content_creator_id" jdbcType="BIGINT"/>
        <result property="requestTime" column="request_time" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" jdbcType="OTHER"/>
        <result property="details" column="details" jdbcType="VARCHAR"/>
        <result property="expectedDuration" column="expected_duration" jdbcType="INTEGER"/>
        <result property="expectedCompensation" column="expected_compensation" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,advertiser_id,content_creator_id,
        request_time,status,details,
        expected_duration,expected_compensation
    </sql>
</mapper>
